h2 {
    background: blue;
    color: yellow;
}

#searchButton:hover {
    background: rgb(82, 117, 126);
    color: rgb(6, 189, 189);
}

#navTitle {
    font-size: 30px;
    font-family: monospace;
}

#navbarSupportedContent {
    font-size: 20px;
}

#navHome:hover, #navData:hover, #navContact:hover {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.nav-item {
    margin-right: 10px;
}
